table {
    width: 20vw;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table tfoot {
    font-weight: bold;
}
